@import "tailwindcss/preflight";
@tailwind utilities;


@font-face {
  font-family: "Dela Gothic One";
  src: url("/fonts/DelaGothicOne.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope-thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope-semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
    -webkit-tap-highlight-color: transparent;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    overscroll-behavior: none;
  }

  body {
    position: fixed;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    -webkit-user-select: none;
    user-select: none;
  }

  input,
  textarea {
    -webkit-user-select: text;
    user-select: text;
  }

  h1 {
    font-family: 'Dela Gothic One' !important;
    font-size: 124px !important;
    line-height: 1;
    letter-spacing: -2%;
  }

  h3 {
    font-family: 'Dela Gothic One' !important;
    font-size: 28px !important;
    line-height: 1;
  }

  p {
    font-family: 'Manrope' !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1;
  }

  .note {
    font-family: 'Manrope' !important;
    font-size: 10px !important;
    font-weight: 300 !important;
    line-height: 1;
  }

  .bold{
    font-weight: 700 !important;
  }

  .gradient-text {
    background: linear-gradient(45deg, #ffcb00, #ffb300) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .text-border {
    -webkit-text-stroke: 1.59px #141414;
  }

  .black-button{
    background-color: #000000 !important;
  }

  .full-screen{
    height: 100dvh !important;
  }